@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:300,400&display=swap');
@import url('core.css');

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e2e2e2;
  color: #333;
  height: 100vh;
}

.profile {
  .profile-pic {
    max-width: 160px;
    max-height: 160px;
  }

  .spacer {
    content: ' ';
    margin: 3em 0px;
  }

  .main-container {
    background-color: white;

    .greeting {
      margin: 0;
      padding: 1em;
      text-align: center !important;

      margin-top: 1em;

      > .text-left {
        width: 100%;

        > p {
          margin-top: 2em;
          font-size: 0.9rem;
          text-align: left;
        }
      }
    }

    .content {
      padding: 1em;
    }
  }

  .table-preview {
    & table {
      max-width: 400px;
      font-size: 0.85rem;

      & td:nth-child(1) {
        padding-right: 1em;
      }
    }
  }

  .field-info {
    label {
      color: #999;
      font-size: 90%;
    }

    h6 {
      padding-left: 0.5em;
      font-weight: bolder;
    }

    margin-bottom: 1em;
  }
}
